body{
font-family:sans-serif;
margin:0;
padding:20px;
background:#f6f6f6;
}

.logo{
text-align:center;
margin-bottom:20px;
}

.logo img{
width:200px;
}

#menu{
display:grid;
grid-template-columns:repeat(2,1fr);
gap:15px;
}

.card{
background:white;
border-radius:12px;
padding:10px;
box-shadow:0 2px 8px rgba(0,0,0,0.1);
}

.card img{
width:100%;
border-radius:10px;
}

.name{
font-weight:bold;
margin-top:5px;
}

.price{
color:#ff6600;
}

.modal{
position:fixed;
bottom:-100%;
left:0;
width:100%;
background:white;
transition:0.3s;
}

.modal.show{
bottom:0;
}

.modal-content{
padding:20px;
}

#floatingCart{

position:fixed;
bottom:20px;
right:20px;

background:black;
color:white;

padding:15px 20px;
border-radius:50px;

display:none;

}
